@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Source Serif Pro";
  src: url("/font/source-serif-pro.regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("/font/source-serif-pro.semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaruBuri Regular";
  src: url("/font/MaruBuri-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MaruBuri SemiBold";
  src: url("/font/MaruBuri-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #F9F8F4;
  /* Warm White */
  --foreground: #2C2C2C;
  /* Deep Charcoal */
  --primary: #807360;
  /* Warm Beige-Taupe */
  --secondary: #5D5D5D;
  /* Medium Charcoal for secondary text */
  --accent: #CFA898;
  /* Soft Terracotta */
  --border: #DEDEDE;
}

:root[data-theme="dark"] {
  --background: #1C1B1A;
  /* Warm Dark */
  --foreground: #F0EBE0;
  /* Cream Beige */
  --primary: #9CACA9;
  /* Lighter Sage for Dark Mode */
  --secondary: #B0B0B0;
  /* Light Grey for secondary text */
  --accent: #DDBFB0;
  /* Lighter Terracotta */
  --border: #444444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-maru: "MaruBuri SemiBold", serif;
  --font-maru-semi: "MaruBuri SemiBold", serif;
  --font-serif: "Source Serif Pro", "Times New Roman", serif;
  --font-source: "Source Serif Pro", "Times New Roman", serif;
  --font-source-semi: "Source Serif Pro", "Times New Roman", serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--border)
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #000000;
    --foreground: #f5eee7;
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color--border: var(--border)
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Source Serif Pro", "Times New Roman", serif;
  transition: background-color 240ms ease, color 240ms ease;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

@layer utilities {
  .font-source {
    font-family: "Source Serif Pro", "Times New Roman", serif;
    font-weight: 400;
  }

  .font-source-semi {
    font-family: "Source Serif Pro", "Times New Roman", serif;
    font-weight: 600;
  }
}


@media (min-width: 1024px) {
  .home-hero {
    width: 100vw;
    max-width: 100vw;
    height: 80vh;
    max-height: none;
  }
}

@media (min-width: 2000px) {
  .home-hero {
    width: 100vw;
    max-width: 100vw;
    height: 95vh;
    max-height: none;
  }
}